# **1019 4110E211**

Python For Loops

Exercise 1 : Loop through the items in the fruits list.

In [1]:
classmates = ["sunshine", "mary cris", "yael"]
for x in classmates:
  print(x)

sunshine
mary cris
yael

Exercise 2 : In the loop, when the item value is "kenneth", jump directly to the next item.

In [2]:
classmates = ["sunshine", "mary cris", "yael"]
for x in classmates:
  if x == "mary cris":
    continue
  print(x)

sunshine
yael

Exercise 3 : Use the range function to loop through a code set 9 times.

In [3]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

Exercise 4 : Exit the loop when x is "mary cris".

In [4]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  print(x) 
  if x == "kenneth":
    break
    print(X)

james
kenneth